@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-purple: #6d28d9;
  --color-brand-purpleLight: #8b5cf6;
  --color-brand-red: #ef4444;
  --color-brand-blue: #2563eb;
  --color-brand-orange: #f97316;
  --color-brand-lime: #c6f135;
  --color-dark-background: #363a45;
  --color-dark-component: #272b34;
  --color-dark-skeleton: #4a4e58;

  --background-image-sidebar-gradient: linear-gradient(
    180deg,
    #7c3aed 0%,
    #4c1d95 100%
  );

  --radius-xl2: 1.5rem;
}

body {
  @apply bg-[#EFEAFB] text-slate-800 dark:bg-slate-900 dark:text-slate-100;
}


.recharts-wrapper svg,
.recharts-surface,
.recharts-sector,
.recharts-pie-sector,
.recharts-area,
.recharts-area-area,
.recharts-layer {
  outline: none !important;
}

.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible {
  outline: none !important;
}

*:not(input):not(textarea):not([contenteditable='true']):not(button):not(a):not(
    [role='button']
  ):not(.cursor-pointer) {
  cursor: default !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

button,
a,
[role='button'],
.cursor-pointer {
  cursor: pointer !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

input,
textarea,
[contenteditable='true'] {
  cursor: text !important;
  -webkit-user-select: text !important;
  user-select: text !important;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent; /* thumb: slate-300, track: transparan */
}
 
.dark .custom-scroll {
  scrollbar-color: #363a45 transparent; /* thumb: dark-background */
}
 
/* Fallback untuk browser berbasis WebKit (Chrome/Safari/Edge lama) */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
 
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
 
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}
 
.dark .custom-scroll::-webkit-scrollbar-thumb {
  background-color: #363a45;
}

.tablet-cards {
  display: flex;
}

.desktop-cards {
  display: none;
}

@media (min-width: 1281px) {
  .tablet-cards {
    display: none;
  }

  .desktop-cards {
    display: flex;
  }
}

.desktop-sidebar {
  display: none;
}

@media (min-width: 1281px) {
  .desktop-sidebar {
    display: flex;
  }
}